*{
    margin: 0px;
    padding: 0px;
}
div{
    width: 1200px;
    display: flex;
    margin: auto;
}
img{
    width: 20vw;
    height: 13vw;
}
header{
    margin: 2vw;



}
header > a {
    display: inline;
    
}
header > h1{
    display: inline;

}
section{
    
}
body{
    
    
}
p{
    padding: 3px;

}
article > header{
    margin: 0vw 1vw 1vw 1vw;
}
h3{
    margin-bottom: 1vw;
}
